*{
    box-sizing: border-box;
    font-family: arial;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: #2ca05a;
    color: #fff;
    z-index: 1;
    box-shadow: 1px 1px 10px #888;
}
#perfil{
    display: inline-block;
    vertical-align: top;
    width: 5%;
    height: 40px;
}
#perfil img {
    width: 30px;
    margin: 5px;
    border-radius:50%;
    border: 2px solid #fff;
}

#nome{
    display: inline-block;
    vertical-align: top;
    width: 27%;
    margin: 10px;

}
#menu{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin: 10px;
}
.menu{
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;

}
#social{
    display: inline-block;
    width: 20%;
    height: 90%
}
.social{
    display: inline-block;
    margin: 5px 0px;
}

#socialEspaco{
    display: inline-block;
    width: 5%;
    height: 90%
}

#body {
    display: flex;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 0;
}

#painelLateral{
    display: inline-block;
    width: 40%;
    height: 90%;
    margin: 2% 2% 2% 0;
}

#noticias{
    display: inline-block;
    width: 60%;
    height: 95%;
    margin: 2%;
    background: #fff;
    box-shadow: 1px 1px 10px #888;
}

.noticia{
    margin: 2%;
    width: 95%;
    height: 150px;
    background: #fff;
    border-bottom: 1px solid #5fd38d;
}

#noticias h4{
    text-align: center;
}

#perfilCompleto{
    width: 100%;
    vertical-align: top;
    text-align: justify;
    margin: 0  2% 2% 0;
    background: #fff;
    overflow: auto;
    padding: 5%;
    margin-bottom: 5%;
    box-shadow: 1px 1px 10px #888;
}
 
#perfilCompleto img{
    margin: 0 3% 3% 0;
    border-radius: 50%;
    border: 5px solid #2ca05a;
}
#contato{
    width: 100%;
    height: 35%;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px #888;
}

#projetos{
    width: 100%;
    height: 23.5%;
    background: #fff;
    box-shadow: 1px 1px 10px #888;
}
